.git-rewrite
.fuse_hidden*
.fuse_hidden**.lock
*.lock
package-lock.json
.fuse_hidden*
.fuse_hidden*
.fuse_hidden**.lock
*.lock
package-lock.json
.fuse_hidden*
.fuse_hidden**.lock
*.lock
*.lock
package-lock.json
package-lock.json
.fuse_hidden*
.fuse_hidden**.lock
*.lock
package-lock.json
/vendor
node_modules
/docs/vendor
*.phar
*.cache
*.log
.git-blame-ignore-revs
.php-cs-fixer.cache
.git-rewrite/
.php-cs-fixer.cache
*.phar
*.cache
